<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    

    <title>404</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:500"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900"
      rel="stylesheet"
    />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="style/css/style.css" />
  </head>

  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>404</h1>
        </div>
        <h2>Oops! Esta pagina no fue encontrada</h2>
        <p>
          Lo siento mucho, pero esta pagina que estas buscando no existe o puede ser que fue eliminada
          , el nombre cambio o fue desabilitada.
        </p>
        <a href="/">Regresa al inicio</a>
      </div>
    </div>
  </body>
  
</html>