<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/ingresarUsuario}" th:object="${usuario}" method="post">

        <label for="nombre">Nombre: </label>
        <input type="text" th:field="${usuario.nombre}">
        <br>
        <span th:errors="*{nombre}" style="color: red;"></span>
        <br>

		<label for="apellido">Apellido: </label>
        <input type="text" th:field="${usuario.apellido}">
        <br>
        <span th:errors="*{apellido}" style="color: red;"></span>
        <br>
		
		<label for="fNac">Fecha de Nacimiento: </label>
        <td><input type="text" th:field="${usuario.fNac}">
        </td>
        <br>
        <!-- <span th:errors="*{usuario}" style="color: red;"></span>-->
        <br>
		
		<label for="username">Nombre de usuario: </label>
        <input type="text" th:field="${usuario.username}">
        <br>
        <span th:errors="*{username}" style="color: red;"></span>
        <br>
		
		<label for="password">Password: </label>
        <input type="text" th:field="${usuario.password}">
        <br>
        <span th:errors="*{password}" style="color: red;"></span>
        <br>
		
        <label for="direccion">Direccion: </label>
        <input type="text" th:field="${usuario.direccion}">
        <br>
        <span th:errors="*{direccion}" style="color: red;"></span>
        <br>
        
        <label for="telFijo">Tel. Fijo: </label>
        <input type="text" th:field="${usuario.telFijo}">
        <br>
        <span th:errors="*{telFijo}" style="color: red;"></span>
        <br>
        
        <label for="telMovil">Tel. Movil: </label>
        <input type="text" th:field="${usuario.telMovil}">
        <br>
        <span th:errors="*{telMovil}" style="color: red;"></span>
        <br>
        
        
        
        <select id="roles"  th:field="${usuario.roles.id_rol}">
        	<option th:each="roles, row: ${roles}" th:value=${roles.id_rol} th:text="${roles.id_rol}"></option> 
        </select>
        
        <!-- FALTAN LOS MUNICIPIOS Y FALTA TAMBIEN CAMBIAR QUE TIPO DE USUARIO ES -->
        
		<label for="enabled_u" class="col-form-label">Estado:</label>
        <select class="form-control" name="enabled_u" id="estado" th:field=${usuario.enabled_u}>
           <option th:value="${false}">Inactivo</option>
        </select>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>