<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/css/main.css" th:href="@{/style/css/main.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-block">
                <table class="table table-hover">
                    <thead>
                        <th>Acci&oacute;n</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Materias aprobadas</th>
                        <th>Materias reprobadas</th>
                        <th>Promedio</th>
                    </thead>
                    <th:block th:each="expediente, row: ${expedientes}">
                        <tr>
                            <th>
                            	<a class="btn btn-primary bEdit"><i class="fas fa-edit">Boton1</i></a>
                                <a class="btn btn-primary bEdit"><i class="fas fa-edit">Boton2</i></a>
                            </th>
                            <th>
                                <p th:text="${expediente.nombre}"></p>
                            </th>
                            <th>
                                <p th:text="${expediente.apellido}"></p>
                            </th>
                            <th>
                                <p th:text="${expediente.aprobadas}"></p>
                            </th>
                            <th>
                                <p th:text="${expediente.reprobadas}"></p>
                            </th>
                            <th>
                                <p th:text="${expediente.promedio}"></p>
                            </th>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</body>
</html>