<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros Escolares - Listado</title>
</head>
<body>
    <table>
        <thead>
            <th>Acci&oacute;n</th>
            <th>C&oacute;digo</th>
            <th>Nombre</th>
            <th>Descripci&oacute;n</th>
            <th>Estado</th>
        </thead>
        <th:block th:each="centroEscolar, row: ${centrosEscolares}">
            <tr>
                <th ></th>
                <th th:text="${centrosEscolar.id_centro}"></th>
                <th th:text="${centrosEscolar.nombre}"></th>
                <th th:text="${centrosEscolar.descripcion}"></th>
                <th th:text="${centrosEscolar.estadoDelegate}"></th>
            </tr>
        </th:block>
    </table>
</body>
</html>