<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../static/style/css/main.css" th:href="@{/style/css/main.css}" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand mb-0 h1" href="/">Mod&uacute;lo de Administracion</a>
		<div class="text-white" sec:authorize="isAnonymous()">
			<a class="text-white" href="/login">Iniciar Sesion</a>
			<a class="text-white" href="/crearUsuario">Crear Usuario</a>
		</div>

		<div class="collapse navbar-collapse">
			<!--ADMIN-->
			<div sec:authorize="hasRole('ADMIN')">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/listUsuarios">Ver lista de usuarios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/listMaterias">Ver lista de materias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/listCEscolares">Ver lista de centros escolares</a>
					</li>
				</ul>
			</div>
			<!--COORDINADOR-->
			<div sec:authorize="hasRole('USER')">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/coordinador/principal">Ver expedientes<span
								class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</div>

		<div>
			<div class="text-white userOptions" sec:authorize="isAuthenticated()">
				<i>Bienvenido</i> <b><span class="text-white" sec:authentication="name">Username</span></b>
				&nbsp;
				<i><span class="text-white" sec:authentication="principal.authorities">Roles</span></i>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="card" id="formsCont">
			<div class="card-block">
				<h3><span th:text="${mensaje}" class="exito"></span></h3>
				<label>Buscar alumno por: </label>
				<select id="selection" class="form-control">
					<option value="0" selected>Selecciones criterio [Nombres, Apellidos]</option>
					<option value="1">Buscar por nombre</option>
					<option value="2">Buscar por apellido</option>
				</select>
				<br>
				<!--Nombre-->
				<form th:action="@{/busqueda}" method="post" class="vis" id="nombresid">
					<label>Valor de b&uacute;squeda: </label>
					<input type="text" placeholder="Nombre" th:name="valNombre" class="form-control" required>
					<br>
					<button type="submit" id="btnNombre" name="action" value="buscarnombre"
						class="btn btn-primary bEdit2"><i class="fa fa-search"></i>Buscar</button>
				</form>
				<!--Apellido-->
				<form th:action="@{/busqueda}" method="post" class="vis" id="apellidosid">
					<label>Valor de b&uacute;squeda: </label>
					<input type="text" placeholder="Apellido" th:name="valApellido" class="form-control" required>
					<br>
					<button type="submit" id="btnApellido" name="action" class="btn btn-primary bEdit2"
						value="buscarapellido"><i class="fa fa-search"></i>Buscar</button>
				</form>
				<br>
				<a th:href="@{/coordinador/ingresarEst}" type="submit" class="btn btn-primary bEdit2"><i
						class="fa fa-plus"></i>Agregar Nuevo
					Expediente</a>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			$("#selection").on('change', function () {
				var valor = $(this).val();
				switch (valor) {
					case "0":
						$("#nombresid").show();
						$("#apellidosid").hide();
						$("#btnApellido").hide();
						$("#btnNombre").hide();
						break;

					case "1":
						$("#nombresid").show();
						$("#apellidosid").hide();
						$("#btnApellido").hide();
						$("#btnNombre").show();
						break;

					case "2":
						$("#nombresid").hide();
						$("#apellidosid").show();
						$("#btnNombre").hide();
						$("#btnApellido").show();
						break;
				}
			}).change();
		});
	</script>
</body>

</html>