<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizando...</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/css/main.css" th:href="@{/style/css/main.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script> 
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="#">Mod&uacute;lo de Administracion</a>
        <div class="text-white" sec:authorize="isAnonymous()">
            <a class="text-white" href="/login">Iniciar Sesion</a>
            <a class="text-white" href="/crearUsuario">Crear Usuario</a>
        </div>

        <div class="collapse navbar-collapse">
            <!--ADMIN-->
            <div sec:authorize="hasRole('ADMIN')">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/listUsuarios">Ver lista de usuarios<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/listMaterias">Ver lista de materias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/listCEscolares">Ver lista de centros escolares</a>
                    </li>
                </ul>
            </div>
            <!--COORDINADOR-->
            <div sec:authorize="hasRole('USER')">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/coordinador/principal">Ver principal</a>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="text-white userOptions" sec:authorize="isAuthenticated()">
                <i>Bienvenido</i> <b><span class="text-white" sec:authentication="name">Username</span></b>
                &nbsp;
                <i><span class="text-white" sec:authentication="principal.authorities">Roles</span></i>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" class="btn btn-primary bEdit" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card" id="formsCont">
            <div class="card-block">
                <form action="#" th:action="@{/actualizar/usuario/{id_usuario}(id_usuario=${usuario.id_usuario})}"
                    th:object="${usuario}" method="GET">

                    <input type="hidden" th:field="${usuario.id_usuario}" readonly="readonly">

                    <label for="nombre">Nombre: </label>
                    <input type="text" th:field="${usuario.nombre}" class="form-control">
                    <span th:errors="*{nombre}" style="color: red;"></span>
                    <br>

                    <label for="apellido">Apellido: </label>
                    <input type="text" th:field="${usuario.apellido}" class="form-control">
                    <span th:errors="*{apellido}" style="color: red;"></span>
                    <br>

                    <label for="fNac">Fecha de Nacimiento: </label>
                    <input type="text" id="datepicker" th:field="${usuario.fNac}" class="form-control">
                    <script type="text/javascript">
					        $(function () {
					            $('#datepicker').datepicker({
					            	format: 'dd/mm/yyyy'
					            });
					        });
					    </script>
                    <!-- <span th:errors="*{usuario}" style="color: red;"></span>-->
                    <br>

                    <label for="username">Nombre de usuario: </label>
                    <input type="text" th:field="${usuario.username}" class="form-control">
                    <span th:errors="*{username}" style="color: red;"></span>
                    <br>

                    <label for="password">Password: </label>
                    <input type="text" th:field="${usuario.password}" class="form-control">
                    <span th:errors="*{password}" style="color: red;"></span>
                    <br>

                    <label for="direccion">Direccion: </label>
                    <input type="text" th:field="${usuario.direccion}" class="form-control">
                    <span th:errors="*{direccion}" style="color: red;"></span>
                    <br>

                    <label for="telFijo">Tel. Fijo: </label>
                    <input type="text" th:field="${usuario.telFijo}" class="form-control">
                    <span th:errors="*{telFijo}" style="color: red;"></span>
                    <br>

                    <label for="telMovil">Tel. Movil: </label>
                    <input type="text" th:field="${usuario.telMovil}" class="form-control">
                    <span th:errors="*{telMovil}" style="color: red;"></span>
                    <br>
                    <input type="hidden" th:field="${usuario.roles.id_rol}">

                    <!-- FALTAN LOS MUNICIPIOS Y FALTA TAMBIEN CAMBIAR QUE TIPO DE USUARIO ES -->

                    <label for="enabled_u" class="col-form-label">Estado:</label>
                    <select class="form-control" name="enabled_u" id="estado" th:field=${usuario.enabled_u}>
                        <option th:value="${true}">Activo</option>
                        <option th:value="${false}">Inactivo</option>
                    </select>
                    <br>

                    <label class="col-form-label">Departamento:</label>
                    <select class="form-control" id="deptoSelect">
                        <option value="col">Selecciona una opci&oacute;n</option>
                        <option th:each="departamento, row: ${departamentos}" th:value="${departamento.id_departamento}"
                            th:id="${departamento.id_departamento}" th:text="${departamento.departamento}"></option>
                    </select>

                    <label for="centroEscolar" class="col-form-label">Municipio:</label>
                    <select class="form-control" id="municipioSelect" th:field="${usuario.municipio.id_municipio}">
                        <option th:each="municipio, row: ${municipios}"
                            th:id="${municipio.departamento.id_departamento}" th:value="${municipio.id_municipio}"
                            th:text="${municipio.municipio}"></option>
                    </select>
                    <br>

                    <input type="submit" value="Actualizar" class="btn btn-primary bEdit">
                </form>
                <a th:href="@{/admin/listUsuarios}" type="submit">Regresar</a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#municipioSelect").children('option:gt(0)').hide();
            $("#deptoSelect").change(function () {
                $("#municipioSelect").children('option').hide();
                $("#municipioSelect").children("option[id=" + $("#deptoSelect").val() + "]").show()
            })
        });

    </script>
</body>

</html>