<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Actualizando...</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/style/css/main.css" th:href="@{/style/css/main.css}" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand mb-0 h1" href="/">Mod&uacute;lo de Administracion</a>
		<div class="text-white" sec:authorize="isAnonymous()">
			<a class="text-white" href="/login">Iniciar Sesion</a>
			<a class="text-white" href="/crearUsuario">Crear Usuario</a>
		</div>

		<div class="collapse navbar-collapse">
			<!--ADMIN-->
			<div sec:authorize="hasRole('ADMIN')">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/listUsuarios">Ver lista de usuarios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/listMaterias">Ver lista de materias</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/admin/listCEscolares">Ver lista de centros escolares<span
								class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
			<!--COORDINADOR-->
			<div sec:authorize="hasRole('USER')">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/coordinador/principal">Ver principal</a>
					</li>
				</ul>
			</div>
		</div>

		<div>
			<div class="text-white userOptions" sec:authorize="isAuthenticated()">
				<i>Bienvenido</i> <b><span class="text-white" sec:authentication="name">Username</span></b>
				&nbsp;
				<i><span class="text-white" sec:authentication="principal.authorities">Roles</span></i>
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" class="btn btn-primary bEdit" />
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="card" id="formsCont">
			<div class="card-block">
				<form action="#" th:action="@{/actualizar/centro/{id_centro}(id_centro=${centroEscolar.id_centro})}"
					th:object="${centroEscolar}" method="GET">

					<input type="hidden" th:field="${centroEscolar.id_centro}" readonly="readonly">

					<label for="nombre">Nombre del centro escolar: </label>
					<input type="text" th:field="${centroEscolar.nombre}" class="form-control">
					<span th:errors="*{nombre}" style="color: red;"></span>
					<br>
					<label for="descripcion">Descripcion: </label>
					<input type="text" th:field="${centroEscolar.descripcion}" class="form-control">
					<span th:errors="${centroEscolar.descripcion}" style="color: red;"></span>
					<br>
					<label for="estado" class="col-form-label">Estado:</label>
					<select class="form-control" name="estado" id="estado" th:field=${centroEscolar.enabled_ce}>
						<option th:value="${true}">Disponible</option>
						<option th:value="${false}">No Disponible</option>
					</select>
					<br>
					<input type="hidden" th:field="${centroEscolar.municipio.id_municipio}">
					<!-- 
        <select th:field="${centroEscolar.id_municipio}">
            <option th:each="municipio, row: ${municipios}" th:value="${municipio.id_municipio}" th:text="${municipio.municipio}"></option>
        </select>
        -->
        			<label class="col-form-label">Departamento:</label>
					<select class="form-control" id="deptoSelect">
						<option value="col">Selecciona una opci&oacute;n</option>
						<option th:each="departamento, row: ${departamentos}" th:value="${departamento.id_departamento}"
							th:id="${departamento.id_departamento}" th:text="${departamento.departamento}"></option>
					</select>

					<label for="centroEscolar" class="col-form-label">Municipio:</label>
					<select class="form-control" id="municipioSelect" th:field="${centroEscolar.municipio.id_municipio}">
						<option th:each="municipio, row: ${municipios}" th:id="${municipio.departamento.id_departamento}" th:value="${municipio.id_municipio}" 
							th:text="${municipio.municipio}"></option>
					</select>
					<br>
					<input type="submit" value="Actualizar" class="btn btn-primary bEdit">
				</form>

				<a th:href="@{/admin/listCEscolares}" type="submit">Regresar</a>

			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$("#municipioSelect").children('option:gt(0)').hide();
			$("#deptoSelect").change(function () {
				$("#municipioSelect").children('option').hide();
				$("#municipioSelect").children("option[id=" + $("#deptoSelect").val() + "]").show()
			})
		});

	</script>

</body>

</html>